@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;

}


.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    background-color: #d9d9d9;

}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.flex-row {
    display: flex;
    gap: 18px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    border: 2px solid #264653;
}

.sub-container {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    justify-content: space-evenly;

}

button {
    width: 100%;
    background-color: #f4b942;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

button:hover {
    background-color: #2e6f95;
    color: white;
}

#winner {
    display: flex;
    flex-basis: 40%;
    align-items: center;
    background-color: 003049;
    justify-content: center;
    width: 100%;
    color: white;
}

img {
    width: 100%;
}

p {
    color: rgb(250, 209, 209);
    line-height: 50px;
    text-align: center;
}

.sub-p {
    color: rgb(0, 0, 0);
}