body{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid rgb(236, 0, 0);
    justify-content: space-evenly;
width:100vw;
height:100vh;

}

.main-container{
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    border:1px solid black;
    align-items: center;
    justify-content: space-evenly;

}
    
    .sub-container-row{
    display: flex;
    flex-direction: row;
    border:1px solid red;
    gap:18px;
}


.container{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(2, 199, 35);
    width:200px;
    align-items: center;
}

button{
    width:100%;

}

#winner{
    display: flex;

    flex-basis: 40%;

background-color: rgb(99, 99, 99);
    justify-content: center;
align-items: center;
width: 100%;
color: white;

}
img{
    width: 200px;
}

p{
color:rgb(250, 209, 209);

}